<h1>New content</h1>

<%# which form to show based on type %>
  <% if @content.content_type_id == 1 %>
    <%= render 'page_form' %>
  <% elsif  @content.content_type_id == 2 %>
    <%= render 'news_form' %>
  <% end %>

<%= link_to 'Back', contents_path %>
