<div class="row">
  <div class='col-sm-6 col-sm-push-3'>

<div class="highlightbox">
<div style="font-size: 2.5em; background-color: #187618;color: #fff;padding: 0.25em;"><i class="fa fa-check-square-o"></i> Password Reset</div> 

<p>A recovery email has been sent.</p> 

<p>Click on the "Change my password" link within the email received to reset your password and be logged in.</p>
</div>

<h3>Didn't receive the recovery email?</h3>

<ul>
<li>Check your Junk or SPAM folders.</li>

<li>If you do not receive an email within 10 minutes or still have problems logging in please contact anyone in the membership department at <strong>(432) 563-1000</strong> during normal business hours.</li>

</ul>
</div>
</div>