<h1>Password Reset</h1>


<div class="highlightbox">
<p><div class="myce-check success"><i class="icon-check"></i></div> A recovery email has been sent.</p> 

<p>Click on the "Change my password" link within the email received to reset your password and be logged in.</p>
</div>

<h3>Didn't receive the recovery email?</h3>

<ul>
<li>Check your Junk or SPAM folders.</li>

<li>If you do not receive an email within 10 minutes please contact our customer service at either <a href="#">info@#</a> or <strong>1-800-###</strong> during normal business hours.</li>
</ul>