<h1><%= @content.title %></h1>

<%= markdown @content.body %>


<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <h2>Admin</h2>
        <%= link_to 'Edit', edit_content_path(@content) %>
          <%= render 'versions', :contents => @contents %>
    </div>

  <% end %>
<% end %>