<h1>Users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Roles</th>
    <th>Last Login</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td>n/a</td>
    <td>n/a</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>