<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1351035148316092',
      xfbml      : true,
      version    : 'v2.10'
    });
    FB.AppEvents.logPageView();

FB.api(
  '/263893947509/events',
  'GET',
  {"access_token":"1351035148316092|i01QSP0TKA9wj6F5_HRMYT6sVv8"},
  function(response) {
      // Insert your code here
      console.log(response);
      //alert(response.data[0].name);
  response.data.reverse();

  var monthNames = [
    "Jan", "Feb", "Mar",
    "Apr", "May", "Jun", "Jul",
    "Aug", "Sep", "Oct",
    "Nov", "Dec"
  ];

    var html = '';
    for (var e in response.data) {
  //set today
        var today = new Date();
  //format start date
        var Currdate = new Date(response.data[e].start_time);
        var day = Currdate.getDate();
        var monthIndex = Currdate.getMonth();
        var year = Currdate.getFullYear();
        if (response.data[e].place.location == undefined) {var location = response.data[e].place.name;} else {var location = response.data[e].place.location.city + ', ' + response.data[e].place.location.state;}
        var place = response.data[e].place.name;
  //look back five days from today        
        if (Currdate > today.setDate(today.getDate() - 5) ) {
        
        html += '<div class="calendar_row"><div class="cell" style="width: 25%; margin-right: 2em;">';
        html += '<div class="date-range">';
        html += '<div class="calendar-css">';
        html += '<div class="calendar_month">'+ monthNames[monthIndex] +'</div>';
        html += '<div class="calendar_date">'+ day +'</div>';
        html += '</div>';
        html += '</div>';
        html += '<div class="location">' + location + '</div>';
        html += '</div>';
        html += '<div class="cell" style="width: 70%;">';
        html += '<h2>'+response.data[e].name+'</h2>';
        html += '<img src="http://graph.facebook.com/'+response.data[e].id+'/picture?type=large" style="float: right;margin: 1em 0 2em 2em;"/>';
        html += '<br />';
        html += response.data[e].description;
        html += '<br /><br />';
        html += '<a href="https://www.facebook.com/events/'+response.data[e].id+'" target="_blank" >See more details on Facebook Event Page</a>'


        html += '</div></div>';
    }
    }
    $('#results').html(html);

  }
);



  };
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));



</script>
