
<%= render "fb_events" %>

<% initial_date = "" %>

<h1>Upcoming Events</h1>

<p>Do you have an event, airshow or program you want posted on the CAF Calendar?</p>

<p><a href="mailto:media@cafhq.org?subject=Please%20add%20my%20event%20to%20the%20CAF%20Calendar.">Click here to submit a request</a> or you can <a href="https://www.facebook.com/CommemorativeAF/">share it with the CAF Facebook Page</a>.</p>

<ul>
<div id="results">
</div>
</ul>

