<p>
  <b>Type name:</b>
  <%= @unit_type.type_name %>
</p>

<p>
  <b>Description:</b>
  <%= @unit_type.description %>
</p>


<%= link_to 'Edit', edit_unit_type_path(@unit_type) %> |
<%= link_to 'Back', unit_types_path %>
