/* GOOGLE FONTS */
@import url(//fonts.googleapis.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);
@import url(//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);



/* Global properties ======================================================== */
a[href^="tel:"] { color: inherit; text-decoration: none;}
::selection{ background:#888888!important; color:#fff}
::-moz-selection{ background:#888888!important; color:#fff}

a{ color:#606060; text-decoration: underline; outline:none}
a:hover{ color:#568919; text-decoration: none; outline:none}

body{ background:#fff; border:0; font: 14px 'Open Sans', Arial, Helvetica, sans-serif; color:#2b2c31 ; line-height:1.571428; min-width:320px;}

.container { position: relative; min-width: 320px;}

#main{margin: 0 auto; position: relative; overflow: hidden;}

/* Page Animated item Styles */
.animated {
  visibility: hidden;
}

.visible {
visibility: visible;
}

/* ============================= header ====================== */
#top1{width: 100%; position: relative; left: 0; top: 0; z-index: 99; min-width: 320px;  background-image:url(../uploads/website_images/img_header-bg.jpg); background-size: cover;}

.top1_wrapper{ }

.top1{color: #e1e1e1; font-family: 'Lato'; font-weight: 300; text-transform: uppercase;text-align: right;}

.top1 strong{font-weight: 900;}

.phone1{display: block; padding: 10px 5px 5px 30px; float: right;}

.phone1 a { font-family: 'Roboto Condensed'; font-weight: 500; font-size: 18px; text-decoration: none; color: #fff;}

.phone2{display: inline-block;}
.phone2 a{ color: #f00; text-decoration: none;}
.phone2 a:HOVER{ color: #397fb4;}









#top2-sticky-wrapper{transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;}

.sticky-wrapper.is-sticky {height: 48px!important;}

#top2{position: relative; z-index: 40;   border-bottom: #3b88c1 2px solid;}


.is-sticky .top2_wrapper{box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);}



.top2{position: relative;}

header{position: absolute; left: 0; top: 8px; z-index: 50;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.is-sticky header{top: 5px; max-width: 200px;}

.logo_wrapper img{}










/* ============================= content ====================== */

#content{position: relative; padding-top: 20px; padding-bottom: 50px;}


#home{position: relative; overflow: hidden;}

#advantages{position: relative; padding: 20px 0 60px; background-image: url(../uploads/website_images/bg-punti.jpg)}

#programs{position: relative; padding: 20px 0 60px; background: #de0917;}

#programs .page_title{color: #fff;}
#programs .page_title:after{background-image: url(../uploads/website_images/lines2.png);}

.welcome1{ padding-bottom: 25px;}
.welcome1 .txt1{font-family: 'Lato'; font-size: 24px; font-weight: 700; font-style: italic; position: relative; padding-bottom: 20px; margin-bottom: 20px; line-height: 1.1;}
.welcome1 .txt1:after{content: ''; display: block; width: 68px; height: 4px; background: #397fb4; position: absolute; left: 0; bottom: 0;}
.welcome1 .txt2{padding-bottom: 10px;}

#sites{position: relative; padding: 20px 0 60px; background-image:url(../uploads/website_images/bg-4.png);}

#gallery{position: relative; padding: 20px 0 0px;}

#contacts{position: relative; padding: 20px 0 60px;}

#google_map{position: relative;}
.google_map{width: 100%; position: relative; overflow: hidden; margin: 0; padding: 0px; background: #fff; border: none; line-height: 1px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
.google_map iframe{position: relative; overflow: hidden; width: 100%; height: 460px; border: none; background: #fff; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;line-height: 0;}

.breadcrumbs1_wrapper{background: #ebebeb; padding: 10px 0;}

.breadcrumbs1{padding: 0; margin-top: 0px; font-weight: 400; line-height: 20px; color: #5b5b5b; font-size: 14px; background: none; text-transform: uppercase; font-family: 'Lato';}
.breadcrumbs1 a{color: #5b5b5b; text-decoration: none;}
.breadcrumbs1 a:hover{color: #B88E12; text-decoration: underline;}
.breadcrumbs1 span{display: inline-block; width: 22px; height: 11px; background: url(../uploads/website_images/breadcrumbs1.png) 0 0 no-repeat; margin: 0 10px;}

.exclusive h3 {
	text-align: center;
	padding: 20px 0px 10px 0px;
	margin-bottom: 5px;
}
.exclusive h3:after {
  height: 0px;
  background:none;
}
.exclusive p {
	padding-top: 10px;
}
.exclusive > div > div { text-align: center;}
.exclusive > div > div > img{ width: 50%; padding: 10px;  border:#dedede 5px solid;}
.icon-red {  padding: 10%; background-color:#B88E12;}

.icon-programs i{
  font-size: 150%;
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
  color: #B88E12;
  margin-bottom: 5px;
}



/* ============================= banner ====================== */
#banner_wrapper{ position: relative; padding-top: 40px; padding-bottom: 50px;}

#banner_inner{}

#banner{position: relative;}

.banner_prev{display: block; width: 17px; height: 22px; background: url(../uploads/website_images/prev.png) left top no-repeat; position: absolute; left: -20px; margin-top: -11px; top: 50%; z-index: 10;}
.banner_prev:hover{background-position: bottom;}

.banner_next{display: block; width: 17px; height: 22px; background: url(../uploads/website_images/next.png) left top no-repeat; position: absolute; right: -20px; margin-top: -11px; top: 50%; z-index: 10;}
.banner_next:hover{background-position: bottom;}

#banner .carousel-box{position: relative;}
#banner .carousel-box .inner{position: relative; overflow: hidden; max-width: none; margin: 0;}
#banner .carousel.main{position: relative; overflow: hidden; margin: 0; padding: 0;margin-right: -30px; }
#banner .caroufredsel_wrapper{padding: 0; margin: 0;}
#banner .caroufredsel_wrapper ul{padding: 0; margin: 0;}
#banner .carousel-box ul li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:300px; overflow:hidden; padding-right:30px }

.banner{}
.banner .banner_inner{}
.banner .banner_inner a{display: block; text-decoration: none; position: relative; background: none; padding: 0px; text-align: left;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover{ background: none; }
.banner .banner_inner a figure{margin: 0; padding: 0px 0 0; position: relative; border: none; background: none; 
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover figure{background: none; padding: 0 0 20px;}
.banner .banner_inner a figure img{margin-left: auto; margin-right: auto; width: 80%;}
.banner .banner_inner a figure em{position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 2; background: none; opacity: 0; filter: alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover figure em{opacity: 1; filter: alpha(opacity=100);}
.banner .banner_inner a .caption{padding: 40px 0 0; text-align: center; background: none; border-radius: 0 0 0 0; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover .caption{}
.banner .banner_inner a .txt1{font-family: 'Roboto Condensed'; font-size: 24px; color: #757575; font-weight: 700; text-decoration: none; position: relative; padding-bottom: 15px; margin-bottom: 15px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a .txt1:after{content: '';display: block; width: 67px; height: 4px; background: #397fb4; position: absolute; left: 50%; margin-left: -33px; bottom: 0;}
.banner .banner_inner a:hover .txt1{color: #2a6b9c; text-decoration: none;}
.banner .banner_inner a .txt2{color: #5e5e5e;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover .txt2{color: #010101;}
/* ============================= banner end ====================== */

.full_list_wrapper{text-align: center; padding-bottom: 50px;}
.full_list{display: inline-block; text-decoration: none; position: relative; font-family: 'Lato'; font-weight: 700; font-size: 24px; line-height: 1; padding-left: 60px; padding-right: 60px;}
.full_list:hover{color: #568919; text-decoration: underline;}
.full_list:before{content: ''; display: block; width: 30px; height: 20px; background: url(../uploads/website_images/arrows_left.png) 0 0 no-repeat; position: absolute; left: 0; top: 50%; margin-top: -10px;}
.full_list:after{content: ''; display: block; width: 30px; height: 20px; background: url(../uploads/website_images/arrows_right.png) 0 0 no-repeat; position: absolute; right: 0; top: 50%; margin-top: -10px;}

.pest_wrapper{ margin-bottom: 30px;}
.pest{position: relative;}
.pest .button{position: relative; display: block;}
.pest .button img{width: 100%;}
.pest .button .txt1{font-family: 'Lato'; font-size: 16px; color: #757575; text-align: center; width: 100%;  text-transform: uppercase; text-decoration: none;}
.pest .button:after{content: ''; display: inline-block; position: absolute;left: 0; top: 0; right: 0; bottom: 0;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.pest:hover .button:after{border: 3px solid #397fb4;}


.pest .popup{background: #397fb4; height: 360px; width: 100%; position: absolute; left: 0px; margin-left: -3px; bottom:0px; padding: 15px 40px 10px 40px; color: #3e3e3e; z-index: 10; visibility: hidden; opacity: 0; filter: alpha(opacity=0);
transition: all 0.1s ease-out; -moz-transition: all 0.1s ease-out; -webkit-transition: all 0.1s ease-out; -o-transition: all 0.1s ease-out;
}
.pest:hover .popup{display: block; visibility: visible; opacity: 1; filter: alpha(opacity=100);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.pest .popup .title{font-family: 'Lato'; font-size: 24px; padding-bottom: 20px;}
.pest .popup .desk{}
.pest .popup .button_wrapper{}






/* ============================= footer ====================== */
#bot1{ background-color: #181923; padding-top: 20px; padding-bottom: 20px; background-image:url(../uploads/website_images/footer.jpg); background-size: cover;}

.logo2_wrapper{float: left;}

.logo2{display: inline-block;}

.social2_wrapper{float: right; line-height: 1; padding-top: 20px; line-height: 0;}

.social2{ display: inline-block; margin: 0; padding: 0px 0; list-style: none;}
.socialtop{ display: inline-block; margin: 0; padding: 10px 0px 0px 0px; list-style: none;}
.social2 li{display: inline-block; margin: 0 1px; width: 50px; float: left;}
.social2 li a{display: block; text-decoration: none; font-size: 20px; color: #fff; line-height: 50px; text-align: center; background: rgba(255, 255, 255, 0.1);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}

.social2.socialtop li{display: inline-block; margin: 0 1px; width: 25px; float: left;}
.social2.socialtop li a{display: block; text-decoration: none; font-size: 16px; color: #fff; line-height: 25px; text-align: center; background: rgba(255, 255, 255, 0.1);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}

.social2 li a:hover{color: #fff; background: #e0ae17;}



#bot2{background: #000; padding: 20px 0px; color: #a5a5a5; font-size: 12px;}
#bot2 a{color: #a5a5a5;}
#bot2 a:hover{color: #fff;}



/* ============================= parallax ====================== */
.parallax {width: 100%; position: relative; overflow: hidden; background: none; padding-top: 90px; padding-bottom: 90px; }
.parallax, .parallax .parallax-content, .parallax .overlay { height: 100%;}

.parallax-bg { width: 100%; height: 100%; left: 0; top: 0; margin: 0 auto; position: absolute; background-size: cover; background-attachment: scroll; background-repeat: repeat-y; background-position: center center; }
.parallax-bg.bg-fixed{background-attachment: fixed;}
.parallax .overlay { background: none; width: 100%; position: absolute; overflow: hidden; background: none;}
.parallax .container { }
.parallax-content { color: #fff; text-align: center;}
.parallax-content .txt1{font-family: 'Lato'; font-size: 50px; line-height: 1.1; text-transform: uppercase; font-weight: 900; padding-bottom: 10px;}
.parallax-content .txt2{font-family: 'Lato'; font-size: 40px; line-height: 1.1; text-transform: uppercase; font-weight: 400; padding-bottom: 20px;}




.bg1 { background-image: url(../uploads/website_images/parallax1.jpg); }

.bg2 { background-image: url(../uploads/website_images/parallax2.jpg); }

.bg3 { background-image: url(../uploads/website_images/parallax3.jpg); }

.bg4 { background-image: url(../uploads/website_images/bg-3.jpg); }

.bg5 { background-image: url(../uploads/website_images/parallax5.jpg); }
.bg6 { background-image: url(../uploads/website_images/parallax6.jpg); }
.bg7 { background-image: url(../uploads/website_images/parallax7.jpg); }


#parallax1{}

#parallax1 .wave{position: relative;position: absolute;left: 0; bottom: 0; width: 100%; height: 86px;}

#parallax4{padding-top: 110px; padding-bottom: 110px;}
#parallax4 .parallax-content .txt1{ font-size: 48px; text-transform: none;}
#parallax4 .parallax-content .txt1 span{color: #B88E12;}



.oblique {background:  url(../uploads/website_images/obli.png) repeat fixed !important;}
.oblique2 {background:  url(../uploads/website_images/obli.png) repeat fixed !important; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; }






.logo_wrapper img {
	width: 260px;
	margin-top: -50px;
}
.is-sticky .logo_wrapper img {
	width: 180px;
	margin-top: -10px;
}
.is-sticky .top2 {
	overflow: hidden;

}
.is-sticky .top2_wrapper{
	background-color: #181923;
}

/* ============================= main menu ====================== */
.navbar_ { margin: 0; padding: 0; background: none; border:none; position: relative;z-index: 30; min-height: 0; float: right;}
.navbar_ .navbar-toggle { background: #ffd65e; border: none;box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-top: 8px; margin-bottom: 8px; margin-right: 5px;}
.navbar_ .navbar-toggle:hover, .navbar_ .navbar-toggle:focus{background: #febf05;}
.navbar_ .navbar-toggle .icon-bar{background: #fff;}
.navbar-collapse_{padding-left: 0; padding-right: 0; border: none;}
.navbar_ .nav{position: relative; margin: 0; padding: 0; display: block; float: none;}
.navbar_ .nav > li{position: relative; display: block; color: #000;float: left; white-space: nowrap; background: none;background: none; }
.navbar_ .nav > li:first-child{margin-left: 0;}
.navbar_ .nav > li > a{display: block; text-decoration: none; background: none; font-family: 'Roboto Condensed'; font-weight: 500; font-size: 18px; line-height: 76px; color: #ffffff; text-shadow:none; padding: 0px 18px; border: none; margin: 0; text-align: center; position: relative; z-index: 2; text-transform: uppercase;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}

.is-sticky .navbar_ .nav > li > a{line-height: 44px;}

.navbar_ .nav > li > a:focus, .navbar_ .nav > li.active > a, .navbar_ .nav > li.active > a:hover, .navbar_ .nav > li.active > a:focus{
	color: #ccc;
	text-decoration: none;
	box-shadow: none;
	moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	background-color:#284b71 ;
}

.navbar_ .nav > li > a:hover, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover, .navbar_ .nav > li.active > a:hover{
	color: #fff;
	text-decoration: none;
	box-shadow: none;
	moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
background-color: #397fb4; border-bottom-color: #2a6b9c;
}




.sub-menu ul{
	position: absolute;
	display: none;
	left: 0;
	top: 100%;
	list-style: none;
	zoom: 1;
	z-index: 1;
	margin: 0;
	padding:0;
	background-color: #2a6b9c;
	text-align: left;
	border: none;
}
.sub-menu li{ margin: 0; position: relative; zoom: 1; display: block; border-bottom: 1px solid #B88E12;}
.sub-menu li:first-child{border-top: none;}
.sub-menu li a{display: block; position: relative; font-family:'Roboto Condensed'; font-weight: 400; font-size: 15px; line-height: 28px; color: #fff; text-decoration: none; padding: 0 60px 0 15px; background: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.sub-menu li a:hover{ text-decoration: none; color: #000; background: #397fb4; }




.sub-menu-1 > ul{}

.sub-menu-2 > ul{left: 100%; top: -1px; margin-left: 0px; background: #568919;}




/* ============================= search-form ====================== */
.search-form-wrapper{padding-top: 50px; float: right; width: 270px;}
.navbar-form { float: none; position:relative; z-index: 11; margin:0px 0px 0 0 ; padding: 0; position: relative;}
.navbar-form:before{content: ''; display: inline-block; width: 1px; height: 4px; background: #4d4d4d; position: absolute; left: 0; bottom: 1px;}
.navbar-form:after{content: ''; display: inline-block; width: 1px; height: 4px; background: #4d4d4d; position: absolute; right: 0; bottom: 1px;}
.navbar-form input {outline: none; width: 100%; height: auto; font-size: 14px; line-height: 20px; color:#575757; background: none; border: none; border-bottom: 1px solid #4d4d4d; margin: 0; padding: 5px 75px 5px 10px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;}
.navbar-form input:focus {color: #fff; background: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
.navbar-form a {text-decoration: none; margin: 0; display: inline-block; background: none; position:absolute; right:10px; bottom: 1px; color: #fff; font-size: 14px; text-transform: uppercase; font-weight: 700; line-height: 30px;text-align: center;}
.navbar-form a:hover { background: none; color: #ef1165;}

/* ============================= toTop ====================== */
#toTop { display:none; text-decoration:none; position:fixed; bottom:10px; right:10px; z-index: 1000; overflow:hidden; width:50px; height:50px; border:none; text-indent:100%; background:url(../uploads/website_images/totop.gif) no-repeat left top; }
#toTopHover { background:url(../uploads/website_images/totop.gif) no-repeat left bottom; width:50px; height:50px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
#toTop:active, #toTop:focus { outline:none; }

#webmasterin { display:none;  text-decoration:none; position:fixed; bottom:70px; right:10px; z-index: 1000; overflow:hidden; width:50px; height:50px; border:none; text-indent:100%; background:url(../uploads/website_images/webmasterin.gif) no-repeat left top;}
#webmasterin:active, #toTop:focus { outline:none; }
#webmasterin:HOVER { background-image:url(../uploads/website_images/webmasterin.gif); background-position: 0px -50px; width: 180px;}


/* ============================= main layout ====================== */
.page_title{padding-top: 70px; padding-bottom: 45px; margin-bottom: 35px; text-align: center; font-size: 48px; line-height: 1.1; font-family: 'Lato'; font-weight: 400; color: #3e3e3e; position: relative;}
.page_title:after{content: ''; display: block; width: 165px; height: 11px; background: url(../uploads/website_images/lines1.png) 0 0 repeat-x; position: absolute; left: 50%; margin-left: -82px; bottom: 0;}
.page_title strong{font-weight: 900;}
.page_title span{color: #397fb4;}

.page_title2{padding-top: 30px; padding-bottom: 35px; margin-bottom: 0px; text-align: left; font-size: 24px; line-height: 1.1; font-family: 'Lato'; font-weight: 700; color: #272727; position: relative; text-transform: uppercase;}

.page_title3{padding-top: 0px; padding-bottom: 20px; margin-bottom: 0px; text-align: left; font-size: 18px; line-height: 1.1; font-family: 'Lato'; font-weight: 700; color: #272727; position: relative; text-transform: uppercase;}

.page_title3 small{color: #2a6b9c;  font-size: 14px;}



h1{display: block; font-family:'Lato'; font-weight:900; font-size:48px; color:#2b2c31; line-height:1.1; padding:30px 0  30px 0; margin: 0 0 25px; text-transform: uppercase; position: relative;}
h1:after{content: ''; display: block; width: 165px; height: 6px; background: url(../uploads/website_images/h1.png) 0 0 repeat-x; position: absolute; left: 0; bottom: 0;}
h1 span {
	font-weight:700;
	color:#34577e;
	margin-left: 20px;
}

h2{display: block; font-family:'Lato'; font-weight:900; font-size:28px; color:#2b2c31; line-height:1.1; padding:30px 0  30px 0; margin: 0 0 0; text-transform: uppercase; position: relative;}

h3{display: block; font-family:'Lato'; font-weight:900; font-size:20px; color:#2b2c31; line-height:1.1; padding:60px 0  30px 0; margin: 0 0 25px; text-transform: uppercase; position: relative;}
h3:after{content: ''; display: block; width: 100%; height: 6px; background: url(../uploads/website_images/h1.png) 0 0 repeat-x; position: absolute; left: 0; bottom: 0;}

h4{
	display: block;
	font-family:'Lato';
	font-weight:900;
	font-size:16px;
	color:#B88E12;
	line-height:1.1;
	padding:10px 0  20px 0;
	margin: 0 0 0px;
	text-transform: uppercase;
	position: relative;
}






h5, .h5 {display: block; font-family:'Roboto'; font-weight:400; font-size:16px; color:#2b2c31; line-height:1.625; padding:0; margin: 0 0 10px;}

h6{display: block; font-family:'Open Sans'; font-weight:700; font-size:20px; color:#272727; line-height:1.1; padding:0px 0  20px 0; margin: 0 0 0px; text-transform: uppercase;}



.panel-default > .panel-heading {
  color: #B88E12;
  font-weight: bold;
}


#about { background-color: #eeeeee;}



/* FAQ styles */

h4.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: inherit;
  padding: 0px;
}
h4.panel-title a {
	text-decoration: none;
	color: #555555;
}
h4.panel-title a:HOVER {
	color: #B88E12;
}

.panel-heading [data-toggle="collapse"]:after
{
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.panel-heading [data-toggle="collapse"].collapsed:after
{
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

.bloccoprograms {padding-top: 60px;}
.bloccoprograms .bloccoprograms-a { background-color: #D40202;}
.bloccoprograms .bloccoprograms-b {
	background-color: #CA0202;
}
.bloccoprograms .ea {position: relative;}
.bloccoprograms .tag {position: absolute; top: -67px; left: 50%; margin-left: -67px;     background-color: #FFFFFF;    border: solid 6px #D40202;
-webkit-border-radius: 100%; border-radius: 100%;}
.bloccoprograms .tag-light {background-color: #F5F5F5 !important;}
.bloccoprograms .tag img {width:100px; padding: 10px; color:#f00;}
.bloccoprograms h2 {margin-bottom: 0; padding-top: 70px; font-size: 26px; color: #fff; text-transform: none; text-align: left;}
.bloccoprograms h2 span {padding: 6px; font-size: 38px; color: #B88E12; background-color: #397fb4; float: left; margin: 0px 10px 30px 0px;}
.bloccoprograms h2 small {color: #fff;}
.bloccoprograms h4 {margin-bottom: 20px;}
.bloccoprograms p {text-align: left; color: #fff;}
.bloccoprograms h2:after {
    content: '';
    display: block;
    width: 68px;
    height: 4px;
    background: #397fb4;
    position: absolute;
    left: 0;
    bottom: 0;}
.bloccoprograms p.text {height: 150px; margin-top: 40px; text-align: justify; font-size: 13px;}



.img-responsive-old{display: block; max-width: 100%; height: auto;}

.img-responsive{width: auto \9;}

.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}





/* === */
.phone_ic{font-size: 14px; line-height: 20px; text-transform: uppercase; font-weight: 700; padding-bottom: 5px;}
.phone_ic i{float: left; padding-right: 10px; color: #969696; font-size: 16px; line-height: 20px;}
.phone_ic span{display: table;}
.email_ic{font-size: 14px; line-height: 20px; padding-bottom: 0px;}
.email_ic i{float: left; padding-right: 10px; color: #969696; font-size: 16px; line-height: 20px;}
.email_ic span{display: table;}

.links_block{padding-bottom: 40px;}

.ul1{ padding: 0; margin: 0; list-style: none;}
.ul1 > li {font-size: 14px; font-weight: 400; line-height: 20px; color: #2b2c31; text-transform: none;}
.ul1 > li a{color:#2b2c31; text-decoration: none; display: block; padding: 5px 0px 5px 15px; background: url(../uploads/website_images/li_st1.png) left center no-repeat;}
.ul1 > li a:hover{color:#a9c938; text-decoration: underline;}

.ul2{ padding: 0; margin: 0; list-style: none;}
.ul2 > li {font-size: 21px; font-family: 'Roboto Condensed'; font-weight: 700; line-height: 1.1; color: #757575; border-bottom: 1px solid #ebebeb;}
.ul2 > li:first-child{}
.ul2 > li a{color:#757575; text-decoration: none; display: block; padding: 8px 10px 8px 50px; background: url(../uploads/website_images/arrows_left.png) left center no-repeat; }
.ul2 > li a:hover{color:#B88E12; text-decoration: none;}

.ul3{ padding: 0; margin: 0; list-style: none;}
.ul3 > li {font-size: 21px; font-family: 'Roboto Condensed'; font-weight: 700; line-height: 1.1; color: #757575; border-bottom: 1px solid #ebebeb;}
.ul3 > li:first-child{}
.ul3 > li a{color:#757575; text-decoration: none; display: block; padding: 8px 10px 8px 50px; background: url(../uploads/website_images/arrows_left.png) left center no-repeat; }
.ul3 > li a img{ height: 50px; }
.ul3 > li a:hover{color:#B88E12; text-decoration: none;}

.block1{background: #B88E12; padding: 30px 30px 10px; margin-top: 30px;}

.block1_title{font-family: 'Lato'; font-weight: 700; font-size: 28px; color: #ecffa7; padding-bottom: 15px;}

.news1{margin-bottom: 20px;}
.news1 a{display: block; text-decoration: none; border-bottom: 3px solid #fff; padding-bottom: 10px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.news1 a:hover{border-color:#397fb4;}
.news1 a .txt1{font-family: 'Lato'; font-weight: 700; font-style: italic; font-size: 22px; color: #fff; padding-bottom: 5px;}
.news1 a .txt2{color: #ecffa7;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.news1 a:hover .txt2{color: #fff;}


.badge-danger { width: 100%; padding: 7px; background-color: #B88E12; float: left; }


/*-----btn-----*/
.bt1_wrapper{text-align: center; padding-top: 20px;}

.btn-default.btn1{font-family: 'Open Sans'; display: inline-block; background: none; color: #fff; border: none; font-size: 26px; line-height: 1; font-weight: 400; padding: 15px 25px; text-decoration: none;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin-top: 10px; margin-bottom: 10px;
background: #397fb4; /* Old browsers */

box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.75); moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.75); -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.75);


transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn1:hover{color: #000;
background: #ffe28d; /* Old browsers */
background: -moz-linear-gradient(top,  #ffe28d 0%, #ffc929 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe28d), color-stop(100%,#ffc929)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffe28d 0%,#ffc929 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffe28d 0%,#ffc929 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffe28d 0%,#ffc929 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffe28d 0%,#ffc929 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe28d', endColorstr='#ffc929',GradientType=0 ); /* IE6-9 */
}

.btn-default.btn2{font-family: 'Roboto'; display: inline-block; background: none; color: #2a6b9c; font-size: 14px; line-height: 20px; font-weight: 400; padding: 6px 15px; text-decoration: none;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; margin-top: 10px; margin-bottom: 10px; text-transform: uppercase; letter-spacing: 0px; border: 1px solid #2a6b9c; font-size: 12px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn2:hover{
	color: #FFF;
	background: #397fb4;
	border-color: #397fb4;
}

.btn-default.btn3{font-family: 'Roboto Condensed'; display: inline-block; background: none; color: #3e3e3e; font-size: 14px; line-height: 20px; font-weight: 400; padding: 6px 15px; text-decoration: none;border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; margin-top: 10px; margin-bottom: 10px; text-transform: uppercase; letter-spacing: 0px; border: 2px solid #7f6e3a; font-size: 12px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn3:hover{color: #397fb4; background: #7f6e3a; border-color: #7f6e3a;}

.btn-default.btn4{font-family: 'Lato'; display: inline-block; background: url(../uploads/website_images/arrows_left.png) left center no-repeat; color: #a9c938; font-size: 24px; line-height: 1.1; font-weight: 700; padding: 0px 0px 0 45px; text-decoration: underline;border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; margin-top: 10px; margin-bottom: 10px; letter-spacing: 0px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn4:hover{color: #568919;}


.btn-epoch {
    text-decoration: none;
    background-color: #eee;
	}
.btn-epoch:HOVER {
    background-color: #fff;
	}

.bloccologin h1 small {font-size: 16px;}




/* ============================= thumbnail ====================== */
.img-polaroid{position: relative; padding: 5px; background: none; border: 1px solid #cfcfcf;box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none;}

.thumbnail .caption{padding: 0; color: inherit;}

.thumb1 {margin-bottom: 0px; margin-top: 0px;}
.thumb1.last {margin-bottom: 0px;}
.thumb1 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb1 figure{margin: 0; float: none; margin:0px 0px 20px 0px;}
.thumb1 figure img{width: 100%;}
.thumb1 .caption{}

.thumb2 {margin-bottom: 0px;}
.thumb2.last {margin-bottom: 0px;}
.thumb2 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb2 figure{margin: 0; float: left; margin:0px 20px 20px 0px; }
.thumb2 figure img{width: auto;}
.thumb2 .caption{}


.map { position: relative; width: 100%; float: left;}



.pin {
  width: 25px;
  height: 25px;
  border-radius: 50% 50% 50% 0;
  background: #c00;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
  z-index: 10;}
  
.pin span {
    width: 18px;
    height: 18px;
    margin: 4px 0 0 4px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
	text-align: center;
	color: #1d3c5f;
	font-weight: bold;
	font-size: 12px;
}



.formfilter { padding: 10px; float: left; width: 100%; border: #ccc 1px solid; margin: 10px 0px 30px 0px;}







/*================= queryLoader =========================*/
#load {width: 100%;height: 100%;position: fixed;overflow: hidden;z-index: 1001;	background-color: #fff;}
#qLoverlay{background: #fff!important;}
#qLbar{background: #397fb4!important;}
#qLpercentage{color: #999!important; font-family: 'Roboto'; font-weight: 700; font-size: 40px!important; line-height: 1; padding-top: 60px; background-image: url(../uploads/website_images/logob.png); background-repeat: no-repeat; background-position: top center; background-size: 100px;}



/*================= Contacts =========================*/
#note{ }
.notification_error{ color:#f00; padding-bottom:10px; }
.notification_ok{ text-align: left; padding-bottom:10px; }

.form-horizontal .form-group{margin-left: 0; margin-right: 0;}
.form-group label{color: #272727; font-weight: 400;}
.form-control{height: 38px; padding: 8px 12px; font-size: 14px; line-height: 20px; color: #999999; background: #fff;border: 1px solid #ccc;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.form-control:focus{border-color: #a9c938;   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169, 201, 56, .6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169, 201, 56, .6);}
textarea.form-control {height: auto;}
.form-group.capthca{float: left; margin-right: 30px;}
.form-group.capthca input{width: 170px;}
.form-group.img{float: left;}
.form-group.img img{width:170px; height:38px;}

.btn-default.btn-cf-submit{display: inline-block; background: #B88E12; color: #fff; font-family: 'Open Sans'; font-size: 14px; line-height: 20px; font-weight: 700; padding: 15px 40px; text-decoration: none;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border: 1px solid #ccc; text-transform: uppercase; letter-spacing: 0px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn-cf-submit:hover{background: #a9c938; color: #fff; border-color: #a9c938;}


.blocchi6 { float: left; background-position: top center; background-size: cover; width: 33.333333%; position: relative; height: 400px; overflow: hidden;}
.blocchi6 .testo { float: left; width: 100%; padding: 20% 10% 0% 10%; color: #fff; text-align: center; position: absolute; top: 0px;transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;}
.blocchi6 .testo img{ width: 300px;}
.blocchi6 .testo h4{ font-size: 32px; color: #fff; text-align: center; font-family: 'Roboto Condensed'; font-weight: 500;}
.blocchi6 .testo .fa{ font-size: 32px; color: #397fb4; text-align: center;}
.blocchi6:HOVER .testo { top: -600px;}
.blocchi6 .bottone { top: 1000px; position: absolute; float: left; width: 100%; padding: 20% 10% 0% 10%;transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;  background-color: rgba(0, 0, 0, 0.6); height: 1000px; text-align: center; color: #fff;  }
.blocchi6:HOVER .bottone { top: 0px; border-top: #FC3 3px solid; bottom: 0px;}

.blocchi8 { float: left; width: 25%; position: relative; overflow: hidden;}
.blocchi8 img{ float: left; width: 100%;}
.blocchi8 .testo { z-index: 222; float: left; width: 100%; padding: 35% 10% 0% 10%; color: #fff; text-align: center; position: absolute; top: 0px; bottom: 0px; left: 0px; transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;  background-color: rgba(38, 49, 74, 0.6); text-decoration: none;}

.blocchi8 .testo:HOVER {background-color: rgba(59, 136, 193, 0.7); }

.blocchi8 .testo h4{ font-size: 26px; text-align: center; font-family: 'Roboto Condensed'; font-weight: 500; color: #fff;}
.blocchi8 .testo:HOVER h4{ color: #fff;}


.blocchi-unit { float: left; background-position: top center; background-size: cover; width: 100%; position: relative; overflow: hidden; border: #ccc 1px solid; margin-bottom: 30px;}
.blocchi-unit h4 { color: #fff;}
.blocchi-unit .bottone { top: 1000px; position: absolute; float: left; width: 100%; padding: 20% 10% 0% 10%;transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;  background-color: rgba(0, 0, 0, 0.6); height: 1000px; text-align: center; color: #fff;  }
.blocchi-unit:HOVER .bottone { top: 0px; border-top: #FC3 3px solid; bottom: 0px;}



.tabhome { padding: 0px 0px 40px 0px; float: left; width: 100%;}

.tabhome .nav-tabs {
  border-bottom: none;
}
.tabhome .nav-tabs > li {
  float: left;
  margin-bottom: 0px;
  width: 100%;
}
.tabhome .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  font-size: 17px;
  font-family: 'Roboto Condensed'; font-weight: 500;
  text-transform: uppercase;
  width: 100%;
}
.tabhome .nav-tabs > li > a .fa{
  margin-right: 5px;
}
.tabhome .nav-tabs > li > a:hover {
  border-color: #eee;
  color: #333;
}
.tabhome .nav-tabs > li.active > a,
.tabhome .nav-tabs > li.active > a:hover,
.tabhome .nav-tabs > li.active > a:focus {
	color: #FFF;
	cursor: default;
	background-color: #397fb4;
	border: none;
	border-bottom-color: transparent;
}



.socialunit {list-style-type:none; padding-bottom: 20px;}
.socialunit li{list-style: none;}
.socialunit li i{ width: 20px;}
.socialunit a{ font-size: 16px; text-decoration: none;}


.moreinfo .tab-content {
	background:#FFFFFF;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding: 25px;
}

.moreinfo .nav-tabs li a {
	border-top:2px solid #f6f6f6;
	color:#397fb4;
	font-size: 17px;
	text-decoration: none;
}

.moreinfo .nav-tabs li.active a, 
.moreinfo .nav-tabs li.active a:hover, 
.moreinfo .nav-tabs li.active a:focus {
	border-radius: 0;
	border-top: 2px solid #397fb4;
	color: #333333;
}

.amoreinfo .tab-content .pull-left.media-object {
	background-color: #F6F6F6;
	margin-right: 20px;
	padding: 5px;
}



.bt-vermobile .btn { font-size: 24px; color: #fff;}
.bt-vermobile .btn strong{color: #FC3;}



.btn-buy { background-color: #284b71;}
.btn-donate {background-color: #246495;}
.btn-join { background-color: #397fb4;}
.btn-buy:HOVER {background-color: #4E94C7;}
.btn-donate:HOVER {background-color: #4E94C7;}
.btn-join:HOVER { background-color: #4E94C7;}


.collection { background-color: #284b71; text-decoration: none; text-align: center; float: left; width: 100%; margin-bottom: 25px;}
.collection img{ width: 100%; opacity: 0.8; filter: alpha(opacity=80)}
.collection:HOVER img{ width: 100%; opacity: 1; filter: alpha(opacity=100)}
.collection h2{ background-color: #284b71; width: 100%; float: left; margin: 0px; font-size: 24px; color: #fff; padding: 15px 0 15px 0;}
.collection:HOVER h2{color: #FC3; }

.btn { text-decoration: none;}

.bgmenu { }

.bgmenu .titolo1{font-family: 'Roboto Condensed';
    font-weight: 500;
    font-size: 21px;
    text-decoration: none;
    color: #ffffff;
	text-decoration: none;
	padding: 9px 0px;
	width: 100%;
	float: left;}
.bgmenu .titolo2{
	font-family: 'Roboto Condensed';
	font-weight: 500;
	font-size: 18px;
	text-decoration: none;
	color: #FFC109;
	padding: 8px 0px 0px 15px;
	width: 100%;
	float: left;
}
.bgmenu .titolo3{}





/*----- media queries ------*/
/* Large desktop */
@media (min-width: 1200px) {


}
/* Default landscape and desktop to large desktop */
@media (max-width: 1199px) {

.logo_wrapper img {
	width: 250px;
}

.navbar_ .nav > li > a {
  padding: 0px 10px !important;
}

.is-sticky header {
  top: 1px;
}

}

@media (min-width: 992px) {
  .pest_wrapper.nav4 .pest .popup, .pest_wrapper.nav5 .pest .popup, .pest_wrapper.nav6 .pest .popup, .pest_wrapper.nav10 .pest .popup, .pest_wrapper.nav11 .pest .popup, .pest_wrapper.nav12 .pest .popup{left: auto;margin-left: 0; right: 100%; margin-right: -3px;}

  .pest_wrapper.nav7 .pest .popup, .pest_wrapper.nav8 .pest .popup, .pest_wrapper.nav9 .pest .popup, .pest_wrapper.nav10 .pest .popup, .pest_wrapper.nav11 .pest .popup, .pest_wrapper.nav12 .pest .popup{top: auto; bottom: 0;}
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pest .popup{width: 326px; height: 294px; padding: 15px 20px 10px 20px;}
  .pest .popup .title{font-size: 18px;padding-bottom: 10px;}
  .pest .popup .desk{font-size: 12px;}

}
/* Portrait tablet to landscape and desktop */
@media (max-width: 991px) {
	

.blocchi6 {  width: 50%; ;}
.blocchi8 {  width: 25%; ;}
  .parallax-content .txt1{font-size: 40px;}
  .parallax-content .txt2{font-size: 25px;}

  #parallax4 .parallax-content .txt1{ font-size: 30px;}

  .page_title{font-size: 38px;}

  h1{font-size: 38px;}

.logo_wrapper img {
	width: 180px;
}

.navbar_ .nav > li > a {
  padding: 0px 5px !important;
}
.is-sticky header {
  top: -4px;
}


}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar_ .nav > li > a{font-size: 14px; padding-left: 10px; padding-right: 10px;}

  .pest .popup{width: 278px; height: 346px; padding: 15px 30px 10px 30px;}

  .pest_wrapper.nav3 .pest .popup, .pest_wrapper.nav4 .pest .popup, .pest_wrapper.nav7 .pest .popup, .pest_wrapper.nav8 .pest .popup, .pest_wrapper.nav11 .pest .popup, .pest_wrapper.nav12 .pest .popup{left: auto;margin-left: 0; right: 100%; margin-right: -3px;}

  .pest_wrapper.nav9 .pest .popup, .pest_wrapper.nav10 .pest .popup, .pest_wrapper.nav11 .pest .popup, .pest_wrapper.nav12 .pest .popup{top: auto; bottom: 0;}


}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

.blocchi6 {  width: 100%; ;}
.blocchi8 {  width: 50%; ;}
  .top1{text-align: center;}
  .phone1{display: block; padding-right: 0;}
  .phone2{display: block;}

  header {max-width: 160px;}

  #parallax1 .wave{position: relative;position: absolute;left: 50%; margin-left: -400px; bottom: 0; width: 800px; height: 43px;}

  .pest .popup{width: 100%; height: auto; padding: 15px 20px 10px 20px; left: 0; margin-left: 0; top: 100%; margin-top: -3px; margin-bottom: 25px; visibility: visible; opacity: 1; filter: alpha(opacity=100); position: relative; float: left;}
  .pest_wrapper.nav12 .pest .popup{top: auto; margin-top: 0; bottom: 100%;}
	.pest .txt1 { display: none;}




	.navbar_ {float: none; height: 48px; margin-bottom: 0; }
	.navbar-collapse_{clear: both; margin-left: -15px; margin-right: -15px;}
	.navbar_ .nav{display: block; background: #cadbeb; border-right: none;background: #fff; border: none;}
	.navbar_ .nav > li{float: none;background: none; border-left: none; margin-right: 0; border-top:1px solid #e5e5e5; background: none;}
	.navbar_ .nav > li > a{margin-bottom: 0; line-height: 35px!important; border: none;}
	.navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover{}
	.sub-menu ul{position: relative; left: 0; top: 0;}

  .logo2_wrapper{float: none; text-align: center;}

  .social2_wrapper{float: none; margin-top: 20px; text-align: center; padding-top: 0;}





  #bot2{text-align: center;}


top2-sticky-wrapper { height: 46px !important;}

.logo_wrapper img {
  width: 180px;
}

.is-sticky header {
  top: 6px;
}


.exclusive h3 {
	text-align: left;
	padding: 40px 0px 10px 0px;
}
.exclusive p {
	padding-top: 10px;
	text-align: left;
}
.exclusive > div > div > img{ width: 70%; padding: 10px;  border:#dedede 5px solid;}
.icon-red {  padding: 10%; background-color:#B88E12;}




#lineChart {display: none;}



.bt-vermobile .btn-group { width: 100%; display: block;}

.bt-vermobile .btn-group .btn{border-radius: 0;}




}
@media (min-width: 481px) and (max-width: 767px) {



}
/* Landscape phones and down */
@media (max-width: 480px) {

  .banner_prev{left: 2px;}
  .banner_next{right: 2px;}

  .parallax-content .txt1{font-size: 20px;}
  .parallax-content .txt2{font-size: 14px;}

  #parallax4 .parallax-content .txt1{ font-size: 20px;}

  .btn-default.btn1{font-size: 16px;}

  .page_title{font-size: 28px;}

  h1{font-size: 28px;}








  .google_map iframe{height: 240px;}









}