/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* COLORS
blue #397fb4
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#ui-datepicker-div {display: none;}

table * ul {
    margin: 0 2em;
}

/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea {
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  color: #555;
  font-size: 16px;
  line-height: 1.6em;
}

/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
}

h1, h2, h3, h4 {
  font-weight: 900;
  font-family: 'Lato';
}

h1 {
  font-size: 3em; /* 48/16 = 3 */
  padding: 30px 0;
  line-height: 1.1em;
  margin-bottom: 0.5em; 
}

h2 {
  font-size: 1.4em;
}

h2 span {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 0.65em;
}

h2 span a {
  text-decoration: none;
}

h2 span a:hover {
  text-decoration: underline;
}

h2 span a:before {
    font-family: FontAwesome;
    content: "\f05a";
    display: inline-block;
    padding: 0 5px 0 8px;
    vertical-align: base;
    font-size: 1.25em;
}

p {
  margin: 1.12em 0;
}

p.tight-top {
  margin: 0.4em 0;
}

ul {
  list-style: disc;
  margin: 1.12em 2em;
}

ol {
  list-style: decimal;
  margin: 1.12em 2em;
}

ul.nav {
  margin: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.space {
  margin: 1.12em 0;
}

h3.hall-of-fame {
  margin: 1em 0;
  font-size: 1.4em;
  text-decoration: underline;
}


/* =Table Elements
-------------------------------------------------------------- */

table {
  border: 1px solid #999;
  border-collapse: collapse;
  background: #fff;
  }

table tr:nth-child(2n+1) {
  background: #fdf9ef;
  }

th {
  color: #ffffff;
  padding: 3px;
  background: #666666;
  vertical-align: top;
  }

th.sortable {
  cursor: pointer;
}

td {
  padding: 0.4em;
  border: 1px solid #e0debc;
  }

.member-photo {
  vertical-align: top;
  background: #000;
  padding: 0;
  border: 1px solid #000;
}

.member-card {
  font-size: 2em;
  font-style: italic;
  text-align: right;
  padding: 0.3em;
}

/* =Input Elements
-------------------------------------------------------------- */

input[type="text"],input[type="email"],input[type="password"],
textarea {
  background: #fdf9ef;
  border: 1px solid #e0debc;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 0.3em;
}

input[type="checkbox"] {
  margin: 0.3em 0.5em;
}

input:focus, select:focus, textarea:focus /*, input[type=submit]:hover */ {
  border-color: #e0dfab;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(224,223,171,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(224,223,171,.6);
}

.styled-select {
  background: #fdf9ef;
  border: 1px solid #e0debc;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  font-size: 1em;
  color: #666;
  padding: 0.1em 0.5em;
   }


/* =Header Elements
-------------------------------------------------------------- */


/* =Nav Elements
-------------------------------------------------------------- */
.navbar_ .nav {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    float: none;
}

.dropdown:hover .dropdown-menu { /* To make dropdown visible on hover - MAY NEED TO WRAP IN MEDIA QUERY FOR MOBILE VIEW TO WORK */
  display: block;
  margin-top: 0; 
  background: #ffcf45;
}


/* =Misc Elements
-------------------------------------------------------------- */

.login-bar {
  display: block;
  padding: 10px 5px 5px 30px;
  float: right;
  color: #fff;
  font-size: 0.75em;
  font-family: 'Roboto Condensed'; 
  font-weight: 500; 
  text-decoration: none; 
  color: #fff;

/*  text-align: right;
  margin: 0 3em 0 0; */
}

.login-bar a, .login-bar a:hover {
  color: #fff;
}


.btn-previous:before {
  font-family: FontAwesome;
  content: "\f0fb"; /* fa-fighter-jet */
  display: inline-block;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(180deg);

}
 

.btn-next:after {
  font-family: FontAwesome;
  content: "\f0fb"; /* fa-fighter-jet */
	display: inline-block;
}

.btn-pdf:before {
  font-family: FontAwesome;
  content: "\f1c1"; /* fa-fighter-jet */
  display: inline-block;
  margin-right: 10px;
  color: red;
}


.boxsizingBorder {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

.right-border {
  border-right: 1px solid #999;
}

#bot1 {
  margin-top: 2em;
}

.admin-section {
  margin: 2em 0;
  padding: 0.5em 1em;
  background: #EBF2E9;
  border: 1px solid #75946C;
}

#live-preview {
  border: 1px solid #e0debc;
  padding: 1em;
  margin-top: 62px;
  min-height: 10em;
}

.reverse {
  background: #000;
  color: #fff;
  padding: 0.5em 0.75em;
  margin-left: -15px;
  margin-right: -15px;
}

label {
  padding-left: 30px; text-indent: -30px;
}

.indent {
  padding-left: 30px;
}

.profile_photo {
  border: 1px solid #000;
}


.blocchi-unit {
  border: none;
  min-height: 264px;
}

.blocchi-unit img {  display: block;
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  }

.blocchi-aircraft { 
  float: left;
  background-position: top center;
  background-size: cover;
  position: relative;
  overflow: hidden;

  margin-bottom: 30px;
  /*padding-top: 1.12em;*/
  }

.blocchi-aircraft img { 
  width: 100%;
}

.blocchi-aircraft h4 {
  color: #fff;
  }

.blocchi-aircraft .bottone { 
  top: 1000px;
  position: absolute;
  float: left;
  width: 100%;
  padding: 20% 10% 0% 10%;transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
   background-color: rgba(0, 0, 0, 0.6);
  height: 1000px;
  text-align: center;
  color: #fff;
  }

.blocchi-aircraft:HOVER .bottone {
  top: 0px;
  border-top: #FC3 3px solid;
  bottom: 0px;
  }

.aircraft-tab {
  margin: 0 0 2em 0;
  padding: 0 0 2em 0;
  border-bottom: 1px solid #ddd;
}

.actions {
  margin-top: 2em;
}

.calendar-css {
  display: inline-block;
  width: 75px;
  height: 74px;
  background: #fff;
  margin: 0 0 0.5em;
  border: 1px solid #ddd;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  }

.calendar_year {
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  padding-top: 0;
  color: #fff;
  background: #cc0000;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  }

.calendar_month {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  padding: 0.2em 0;
  color: #fff;
  background: #397fb4;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  }

.calendar_day {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  margin: -4px 0 0 0;
  padding-top: 0px;
  color: #fff;
  background: #397fb4;
  }

.calendar_date {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0.2em 0 0 0;
  padding-top: 0px;
  color: #000;
  }

.event-row {
  border: 1px solid #efefef;
  border-radius: 3px;
  margin: 0.5em;
  padding: 0.5em;
}

#results * img {
  border: 1px solid #000;
}

.show-toc {
  padding: 0.5em;
  display: inline-block;
}

.toc {
  display: none;
  font-size: 0.75em;
    background: #fdf9ef;
    padding: 0.5em 1.5em;
    border: 1px solid #999;
    border-radius: 3px;
    /*width: 80%;*/
    margin: 0 2em;
    position: relative;
    top: -30px; 
    left: 55%;
-webkit-box-shadow: 0px 0px 18px 0px rgba(125,125,125,1);
-moz-box-shadow: 0px 0px 18px 0px rgba(125,125,125,1);
box-shadow: 0px 0px 18px 0px rgba(125,125,125,1);
}

.show-toc:hover {
    background: #fdf9ef;
}

.show-toc:hover .toc {
    display: block;
}

.form-tip {
  font-size: 0.65em;
}

.news-summary-item {
  margin: 2em 0;
  display: block;
  width: 100%;
  overflow:hidden; 
}

.news-summary-item img {
  margin: 0 1em 1em 0;
  border: 1px solid #000;
}

figcaption {
  text-align: center;
  font-style: italic;
}


.pdf-icon {
  margin-right: 10px;
  vertical-align: middle;
}

.hp-admin-link {
  font-size: 0.85em;
  margin: 0 2em 0 0;
  text-align: right;
}

.txt1 a {
  text-decoration: none;
}

.blog-feature-image img {
  width: 100%;
  object-fit: cover;
}

.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
    color: #666;
    }

#error_explanation {
  text-align: left;
  color: #cc0000;
  }

#error_explanation h2 {
  font-size: 12px;
  }

.field_with_errors {
  display: inline;
  padding: 0 4px;
    background: #ffff00;
    border-top: #993300;
    border-bottom: #993300;
  border-width: 1px 0 1px 0; 
  border-style: solid none solid none;
  }

.navbar_ .nav > li > a.donate-highlight {
  background-color: rgba(172, 39, 45, 1);
}

.navbar_ .nav > li > a.donate-highlight:hover {
  background-color: #397fb4;
}

h2 a {
 text-decoration: none;
}

h3:after {
  background: none;
}

.highlightbox {
    border: 1px solid #ddd;
    padding: 1em;
    font-size: 1.25em;
    line-height: 1.4em;
    margin: 1em auto 2em;
    -webkit-box-shadow: 2px 2px 5px 1px #b8b8b8;
    -moz-box-shadow: 2px 2px 5px 1px #b8b8b8;
    box-shadow: 2px 2px 5px 1px #b8b8b8;
}

/* Ludos overwrites ==============================================================*/

@media (max-width: 767px) {

  /* add background color so nav links show in mobile ~ LN 1002 */
.navbar_ .nav > li > a{
	background: #284b71;
	}

.navbar_ .nav > li > a.donate-highlight {
  background-color: rgba(172, 39, 45, 1);
}

.blocchi-unit img {
  width: auto;
  }

h1 {
  font-size: 2em;
}
	
	}


/*----------------------------------------------------
   Calendar graphics styles
-------------------------------------------------------*/

.calendar_row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  margin: 0 0 1.2em 0;
  padding: 0.5em;
  width: 100%; 
  padding-top: 0.25em;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  box-shadow: 4px -3px 8px rgba(0,0,0,.15);
  }

.calendar_row p {
  padding: 0.5em;
  }

.event-info {
  margin: 0 0.5em;
  width: 70%;
  }

.event-details {
  font-size: 0.85em;
  margin: 0.25em 0;
  }

.date-graphic {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  }

.date-graphic.large {
  width: 100%;
  }

.date-range {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.calendar-ii {
  width: 50px;
  height: 50px;
  margin: 0 0.25em;
  border: 1px solid #333;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  }

.calendar-ii.large {
  width: 125px;
  height: 125px;
  margin: 1em 0;
}

.calendar_year-ii {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 0;
  color: #fff;
  background: #cc0000;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  }

.calendar_month-ii {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 0;
  color: #fff;
  background: #cc0000;
  }

.calendar_month-ii.large {
  font-size: 2em;
}

.calendar_day-ii {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0.25em 0 0;
  color: #fff;
  background: #cc0000;
  }

.calendar_date-ii {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin: 3px 0 0 0;
  padding-top: 0px;
  color: #000;
  }

.calendar_date-ii.large {
  font-size: 4em;
  margin: 0.25em 0 0 0;
}

.location {
  display: block;
  text-align: center;
  clear: both;
  margin: 2em 0 0 0.25em;
  padding: 0.25em 0.5em;
  background: #009140;
  color: #fff;
  font-style: italic;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(0,145,64,1);
  -moz-box-shadow: 0px 0px 0px 3px rgba(0,145,64,1);
  box-shadow: 0px 0px 0px 3px rgba(0,145,64,1);
}

.month-subheader {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  margin: 1em auto;
  padding: 0.75em 0;
  background: #52782a;
}