<div id="bot1">
<div class="container">
<div class="bot1_inner clearfix">

  <div class="logo2_wrapper">
    <a href="#home" class="logo2 scroll-to">
      <%= link_to (image_tag "logo_caf_footer.png", :class => "img-responsive"), "http://commemorativeairforce.org" %>
    </a>
  </div>

  <div class="social2_wrapper">
    <ul class="social2 clearfix">
    <% if !@hqinfo.last.social_links.blank? %>
      <% @hqinfo.last.social_links.each do |social_link| %>
        <li>&nbsp;</li>
      <% end %>
    <% end %>
    </ul>
  </div>

</div>
</div>

<div class="container bgmenu">

    <div class="row">
	
	<hr>
      <div class="col-sm-3">

      </div>
	  
      <div class="col-sm-3">


      </div>
	  
      <div class="col-sm-3">


      </div>
	  
      <div class="col-sm-3">

      </div>
	  
	  
    </div>


</div>

</div>


<div id="bot2" class="clearfix">
<div class="container">
<div class="bot2_inner clearfix">

Copyright &copy; <%= DateTime.now.strftime('%Y') %>. All rights reserved.
</div>
</div>
</div>






