<div id="bot1">
<div class="container">
<div class="bot1_inner clearfix">

  <div class="logo2_wrapper">
    <a href="#home" class="logo2 scroll-to">
      <%= link_to (image_tag "logo_caf_footer.png", :class => "img-responsive"), "/" %>
    </a>
  </div>

  <div class="social2_wrapper">
    <ul class="social2 clearfix">
          <li><a href="https://www.facebook.com/CommemorativeAF" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/CAF1957" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCajbMdqv165JZRKjs60E46g" target="_blank"><i class="fa fa-youtube"></i></a></li>
          <li><a href="https://instagram.com/caf1957/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/company/67653" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="mailto:lblock@cafhq.org"><i class="fa fa-envelope"></i></a></li>
    </ul>
  </div>

</div>
</div>




<div class="container bgmenu">

    <div class="row">
	
	<hr>
      <div class="col-sm-3">

<a href="#" class="titolo1">About the CAF</a>

<a href="#" class="titolo2">History</a>
<a href="#" class="titolo2">CAF Timeline</a>
<a href="#" class="titolo2">CAF Hall of Fame</a>
<a href="#" class="titolo2">Annual Report</a>
<a href="#" class="titolo2">Financial Info</a>

      </div>
	  
      <div class="col-sm-3">

<a href="#" class="titolo1">Units/Locations</a>
<a href="#" class="titolo1">Collection</a>

<a href="#" class="titolo1">Join</a>
<a href="#" class="titolo1">Shop</a>


      </div>
	  
      <div class="col-sm-3">

<a href="#" class="titolo1">News</a>
<a href="#" class="titolo1">Events</a>
<a href="#" class="titolo1">Contacts</a>
<a href="#" class="titolo1">Newsletter</a>


      </div>
	  
      <div class="col-sm-3">

<a href="#" class="titolo1">Social Buttons</a>
<a href="#" class="titolo1">Address</a>

<a href="#" class="btn btn-success btn-lg" style="text-decoration: none; margin-top: 10px;">DONATE</a>


      </div>
	  
	  
    </div>


</div>

</div>


<div id="bot2" class="clearfix">
<div class="container">
<div class="bot2_inner clearfix">

Copyright © 2016. All rights reserved.  |   <a href="#">Privacy Policy</a>  |   <a href="#">Cookies Policy</a>  |   <a href="#">Members login</a>

</div>
</div>
</div>
