<div id="top1">

  <div class="top1_wrapper">
    <div class="container">
      <div class="top1 clearfix">   
        <div class="login-bar">
&nbsp;
        </div>

        <ul class="social2 socialtop clearfix">
        </ul>
      </div>
    </div>
  </div>

  <div class="top2_wrapper" id="top2">
    <div class="container">
      <div class="top2 clearfix">
        <header>
          <div class="logo_wrapper">
            <a href="#home" class="logo scroll-to">
              <%= link_to (image_tag "logo_caf_header.png", :class => "img-responsive"), "http://commemorativeairforce.org" %>
            </a>
          </div>
        </header>

        <div class="navbar navbar_ navbar-default">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            &nbsp;
          </button>
          <div class="navbar-collapse navbar-collapse_ collapse">
            <ul class="nav navbar-nav sf-menu clearfix">
              <% @main_menu.each do |menu| %>
                <% if menu.display != "Admin" and menu.display != "Members" %>
                <li class="dropdown" ><a class="dropdown-toggle">&nbsp;</a>
                <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
