<div class='row'>
<div class='field col-sm-12'>
  <%= f.label :email, 'Email (login)' %><br />
  <%= f.text_field :email %>
</div>

<% if @member.user.email.blank? %>
  <%= f.hidden_field :password, :value => 'welcome_1'  %>
<% end %>
</div>