<div class='row'>
<div class='field col-sm-6'>
  <%= f.label :email, 'Email (login)' %><br />
  <%= f.text_field :email %>
</div>
<div class='field col-sm-6'>
  <%= f.label :password %><br />
  <%= f.password_field :password  %>
</div>
</div>